.text-gray-700 {
    color: #acabab; /* Un gris más oscuro para un mayor contraste */
  }
  
  .text-lg {
    font-size: 1.125rem; /* Tamaño de fuente más grande */
  }
  
  .font-semibold {
    font-weight: 600; /* Fuente más gruesa */
  }
  